nav {
  border-bottom: 1px solid #d9d9d9;
}
.navbar {
  z-index: 1050; /* Ensure the navbar has a high z-index */
  position: relative; /* Make sure the z-index takes effect */
}

.sidebar {
  z-index: 1000; /* Sidebar z-index should be lower */
}
