.homeTopSection,
.homeBottomSection {
  background-color: #f5f5f5;
  padding: 6rem 0;
  color: #757575;
  font-size: 1.5rem;
  text-align: center;
}
.homeTopSection img {
  width: 100%;
  max-width: 225px;
  margin: 0 auto;
  display: block;
}
.homeTopSection button {
  background-color: #2c2c2c;
  border: 1px solid #757575;
  color: #f5f5f5;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.homeContainer > img {
  height: 55vh;
  width: 100%;
  object-fit: cover;
  object-position: top center;
}
.homeContainer {
  flex: 1;
}
